asgiref==3.6.0
beautifulsoup4==4.11.2
bs4==0.0.1
certifi==2022.12.7
idna==3.4
charset-normalizer==3.0.1
psycopg2-binary==2.9.5
pyTelegramBotAPI==4.10.0
requests==2.28.2
schedule==1.1.0
sentry-sdk==1.17.0
soupsieve==2.4
sqlparse==0.4.3
telebot==0.0.5
urllib3==1.26.14